/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0px;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto';
}
.count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  width: 600px;
  height: 350px;
  border-radius: 12px;
}
.title {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #0f172a;
  margin-bottom: 32px;
}
.number-text {
  color: #334155;
  font-size: 24px;
  margin-bottom: 20px;
}
.btn-style {
  border: 0;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1e293b;
  font-size: 18px;
  padding-left: 32px;
  padding-right: 32px;
  padding: 10px;
}
.description {
  margin-top: 12px;
  font-size: 16px;
  color: #334155;
}
